/* -------------------------------------------------------------------------- */
/* PRODUCT CATEGORIES
/* -------------------------------------------------------------------------- */
#islay-shop-admin-product-categories.index
  .level-1 .title
    border-left: 0.1em solid $mid-grey
    padding-left: 1em

  .level-1 .title
    margin-left: 1em

  .level-2 .title
    margin-left: 2em

  .level-3 .title
    margin-left: 3em

  .level-4 .title
    margin-left: 4em

/* -------------------------------------------------------------------------- */
/* ORDER OVERVIEW, BILLING ETC.
/* -------------------------------------------------------------------------- */
#islay-shop-admin-orders,
#islay-shop-admin-order-processes
  .billing
    float: left

    p
      +border-radius(0.6em)
      +background-image(linear-gradient(white, $light-grey + 20))
      border: 0.1em solid $light-grey - 20
      font-family: 'Ropa Sans'
      text-transform: uppercase
      padding: 1.5em
      width: 19em
      float: left

    span
      float: left

    .type
      margin-bottom: 3em

    .number
      font-size: 1.2em
      letter-spacing: 0.2em
      width: 100%

    .name,
    .expiry
      margin: 1em 0 0 0

    .expiry
      float: right

/* -------------------------------------------------------------------------- */
/* ORDER OVERVIEW
/* -------------------------------------------------------------------------- */
#islay-shop-admin-orders.show
  .billing,
  .address
    margin: 1.5em 3em 0 0
    float: left

    h3
      font-size: 1em

  .billing
    width: 22em
    margin-left: 2%

  .address
    line-height: 1.2

    strong
      font-weight: bold

  h3.items,
  h3.logs
    border-top: 0.1em solid $header-border-color
    margin-top: 1.5em
    padding-top: 1.5em
    padding-left: 2%
    width: 98%

  table.items,
  table.logs
    border: 0.1em solid $header-border-color
    margin-left: 2%
    width: 96%

  tfoot
    tr:first-child
      th, td
        border-top: 0.1em solid $header-border-color

    th, td
      background: transparent

    th
      text-align: right
      font-weight: bold
      padding-right: 1em

/* -------------------------------------------------------------------------- */
/* ORDER - REVIEW BILLING
/* -------------------------------------------------------------------------- */
#islay-shop-admin-order-processes.review-billing
  #content
    width: 88%
    padding: 3em 4%

  .totals
    ul
      font-size: 1.5em
      margin-top: 0.6em
      width: 20em
      float: left

    li
      width: 100%
      float: left

    .key
      text-transform: uppercase
      font-weight: bold
      margin-bottom: 0.6em
      width: 10em
      float: left

    .value
      width: 8em !important
      float: left

/* -------------------------------------------------------------------------- */
/* SUMMARY
/* Appears above tables and lists with summary counts
/* -------------------------------------------------------------------------- */
#summary
  border-bottom: 0.1em solid $header-border-color
  float: left
  width: 100%

  li
    padding: 0.7em 0 0.7em 1em
    float: left

  .key
    font-size: 1.2em
    color: $dark-grey
    margin: 0.4em 0 0 0.5em
    float: left

  .value
    border-width: 0.15em !important
    font-size: 1.5em
    border-width: 0.15em
    padding: 0.1em 0.5em

  .expiring .key
    font-weight: bold
    color: $negative-color

/* -------------------------------------------------------------------------- */
/* TABLES
/* Various table elements
/* -------------------------------------------------------------------------- */
table
  th.boolean,
  td.boolean
    width: 4em

  span.boolean
    float: left

    &:before
      font-size: 1.6em

    &.true:before
      color: $positive-color
      content: "✓"

    &.false:before
      color: $negative-color
      content: "✕"

    span
      +hide

  .title
    font-size: 1.2em
    text-decoration: none
    float: left

  .reference
    +border-radius(0.2em)
    border: 0.1em solid $light-grey - 15
    background: $light-grey
    padding: 0.2em 0.4em
    float: right

  .summary
    font-size: 0.9em
    margin-top: 0.2em
    color: $dark-grey
    width: 100%
    float: left

  .notes
    width: 50%

  th.indicator,
  td.indicator
    width: 6em

  td.indicator
    padding-top: 0.5em
    padding-bottom: 0.5em

/* -------------------------------------------------------------------------- */
/* NUMERIC VALUES
/* Should use our geometric typeface and be a little bigger.
/* -------------------------------------------------------------------------- */
.numeric
  font-family: 'Ropa Sans'
  font-size: 1.2em

/* -------------------------------------------------------------------------- */
/* INDICATOR
/* For statuses and counts.
/* -------------------------------------------------------------------------- */
span.indicator
  +border-radius(0.2em)
  border: 0.2em solid $dark-grey
  color: $dark-grey
  text-transform: uppercase
  background: white
  text-align: center
  font-size: 1.1em
  font-family: 'Ropa Sans'
  padding: 0.3em 0.6em
  float: left

  &.neutral
    border-color: $neutral-color
    color: $neutral-color

  &.ok
    border-color: $positive-color
    color: $positive-color

  &.warning
    border-color: $negative-color
    color: $negative-color
