@import ../../vendor/kalendae.css

/* -------------------------------------------------------------------------- */
/* NAV ENTRIES
/* -------------------------------------------------------------------------- */
#products-nav
  +icon-barcode

#orders-nav
  +icon-shopping-cart

#promotions-nav
  +icon-star

/* -------------------------------------------------------------------------- */
/* SEARCH RESULTS
/* -------------------------------------------------------------------------- */
#islay-admin-search .search-results
  .product-category
    +icon-folder-open

  .product
    +icon-barcode

/* -------------------------------------------------------------------------- */
/* ORDER OVERVIEW, BILLING ETC.
/* -------------------------------------------------------------------------- */
#islay-shop-admin-orders,
#islay-shop-admin-order-processes
  .billing
    float: left

    p
      +border-radius(0.6em)
      +background-image(linear-gradient(white, $light-grey + 20))
      border: 0.1em solid $light-grey - 20
      font-family: 'Dosis Medium'
      text-transform: uppercase
      padding: 1.5em
      width: 19em
      float: left

    span
      float: left

    .type
      margin-bottom: 3em

    .number
      font-size: 1.2em
      letter-spacing: 0.2em
      width: 100%

    .name,
    .expiry
      margin: 1em 0 0 0

    .expiry
      float: right

/* -------------------------------------------------------------------------- */
/* ORDER OVERVIEW
/* -------------------------------------------------------------------------- */
#islay-shop-admin-orders.show
  .billing,
  .address
    margin: 1.5em 3em 0 0
    float: left

    h3
      font-size: 1em

  .billing
    width: 22em
    margin-left: 2%

  .address
    p
      line-height: 1.2
      font-size: 1.2em

    strong
      font-weight: bold

  tfoot
    tr:first-child
      th, td
        border-top: 0.1em solid $header-border-color

    th, td
      background: transparent

    th
      text-align: right
      font-weight: bold
      padding-right: 1em

/* -------------------------------------------------------------------------- */
/* ORDER - REVIEW BILLING
/* -------------------------------------------------------------------------- */
#islay-shop-admin-order-processes.review-billing
  #content
    width: 88%
    padding: 3em 4%

  .totals
    ul
      font-size: 1.5em
      margin-top: 0.6em
      width: 20em
      float: left

    li
      width: 100%
      float: left

    .key
      text-transform: uppercase
      font-weight: bold
      margin-bottom: 0.6em
      width: 10em
      float: left

    .value
      width: 8em !important
      float: left

/* -------------------------------------------------------------------------- */
/* ORDER PROCESSING
/* -------------------------------------------------------------------------- */
#islay-shop-admin-order-processes.packing .items
  border: 0.1em solid $light-grey
  border-top-width: 0
  background: $light-grey + 25
  margin-top: 0.6em
  width: 100%
  float: left

  li
    border-top: 0.1em solid $light-grey
    padding: 0.7em 0
    width: 100%
    float: left

  a
    margin-left: 0.8em
    float: left

  span
    margin-right: 1em
    float: right

/* -------------------------------------------------------------------------- */
/* PRODUCT OVERVIEW
/* -------------------------------------------------------------------------- */
#islay-shop-admin-products.show
  .adjust
    width: 11em

    .button
      float: right

  .product-description
    .key-value
      border-top: 0
      width: 100%
      max-width: 45em

    .key,
    .value
      margin-bottom: 0.6em
      width: 100%


/* -------------------------------------------------------------------------- */
/* SUMMARY
/* Appears above tables and lists with summary counts
/* -------------------------------------------------------------------------- */
#summary
  border-bottom: 0.1em solid $header-border-color
  float: left
  width: 100%

  li
    padding: 0.7em 0.3em 0.7em 0.7em
    margin-bottom: 0
    float: left

  .key
    +border-radius(0.2em 0 0 0.2em)
    background: $very-light-grey
    border: 0.1em solid $light-grey
    color: $dark-grey
    display: inline-block
    line-height: 1
    margin: 0
    padding: 0.37em 0.5em 0.27em 0.5em
    float: left

  .value
    +border-radius(0 0.2em 0.2em 0)
    min-width: 1.1em
    padding: 0.35em 0.4em 0.25em 0.4em

  .expiring .key
    font-weight: bold
    color: $negative-color

/* -------------------------------------------------------------------------- */
/* TABLES
/* Various table elements
/* -------------------------------------------------------------------------- */
table
  .reference
    +border-radius(0.2em)
    border: 0.1em solid $light-grey - 15
    background: $light-grey
    padding: 0.1em 0.3em
    float: right

  .summary
    font-size: 0.9em
    margin-top: 0.2em
    color: $dark-grey
    margin-right: 10em
    line-height: 1.3
    display: block
    clear: both

  .product-category,
  .product
    &:before
      font-family: Icons
      font-size: 1.4em
      margin-right: 0.4em

  .product-category
    +icon-folder-close

  .product
    +icon-barcode

  .notes
    width: 50%

  .movement
    width: auto !important
    margin-right: 1em

    .dir
      font-size: 0.7em !important
      margin: 0.2em 0 0 0 !important
      float: none

/* -------------------------------------------------------------------------- */
/* NUMERIC VALUES
/* Should use our geometric typeface and be a little bigger.
/* -------------------------------------------------------------------------- */
.numeric
  font-family: $alternate-font-family
  letter-spacing: 0.1em
  font-size: 1.1em

/* -------------------------------------------------------------------------- */
/* INDICATOR
/* For statuses and counts.
/* -------------------------------------------------------------------------- */
span.indicator
  +border-radius(0.2em)
  +islay-text-shadow
  text-transform: uppercase
  background-color: $mid-grey
  color: white
  text-align: center
  font-size: 1.1em
  font-family: $alternate-font-family
  letter-spacing: 0.1em
  padding: 0.3em 0.6em
  float: left

  &.neutral
    background-color: $neutral-color

  &.ok
    background-color: $positive-color

  &.warning
    background-color: $negative-color

  &.for_sale
    background-color: $positive-color

  &.discontinued
    background-color: $neutral-color

  &.not_for_sale
    background-color: $negative-color

.indicator.status
  font-size: 0.9em
  white-space: nowrap

/* -------------------------------------------------------------------------- */
/* REPORTS/GRAPHS
/* -------------------------------------------------------------------------- */
.series-graph
  width: 100%

.graph
  width: 100%
  height: 265px
  margin: 1.5em 0 1em 0
  float: left
  position: relative
  overflow: visible

  .tag
    +border-radius(0.2em)
    background: left center no-repeat image-url('islay_shop/admin/report-tag.png')
    color: white
    font-family: $light-font-family
    padding: 0 0 0 15px
    margin-left: 5px
    position: absolute

    span
      float: left

    span.value
      font-size: 1.4em
      padding: 0.3em 0


    span.date
      +border-radius(0 0.2em 0.2em 0)
      background: $dark-grey - 40
      margin-left: 0.6em
      padding: 0.7em 0.6em 0.6em 0.6em

.report-cell
  table
    border-width: 0 !important

    caption
      +hide

    .sorted
      color: $highlight-color

      &:before
        font-family: icons
        margin-right: 0.4em
        font-size: 1.2em

      +icon-caret-down

    &.sortable thead th
      cursor: pointer

  .move-up,
  .move-down,
  .move-none
    &:before
      font-family: Icons
      margin: 0.4em 0.4em 0 0
      block-inline

  .move-up
    color: $positive-color
    +icon-arrow-up

  .move-down
    color: $negative-color
    +icon-arrow-down

  .move-none
    color: $dark-grey

    &:before
      content: "-"

  h4, h5
    border-bottom: 0.1em solid $light-grey
    border-top: 0.1em solid $light-grey
    text-indent: 1em
    padding: 0.6em 0
    font-weight: bold
    color: $highlight-color
    width: 100%
    float: left

  .value
    text-indent: 0.6em
    font-family: $light-font-family
    font-size: 3em
    color: $dark-grey
    margin: 0.2em 0 !important
    width: 100%
    float: left

    em
      font-size: 0.5em
      margin: 0.5em 1em 0 0
      float: right


.segmented-control,
.date-selection .toggles,
.date-selection .month,
.date-selection .range
  > li
    +widget-gradient
    +input-border
    border-right-width: 0
    font-weight: bold
    padding: 0.45em 1em 0.4em 1em
    margin: 0.6em 0 !important
    min-height: 0 !important
    cursor: pointer
    clear: none
    float: none
    display: inline-block
    width: auto

    &:first-child
      +widget-border-radius(left)

    &:last-child
      border-right-width: $border-width
      +widget-border-radius(right)

    &.current
      +background-image(linear_gradient($light-grey - 10, $light-grey + 10))

.segmented-control
  border-bottom: 0.1em solid $light-grey
  background-color: $light-grey + 27
  text-align: center

.date-selection
  float: right

  ul
    margin-right: 1em
    float: left

  .month
    .display
      text-align: center
      font-weight: normal
      width: 5em
      position: relative

      span
        display: block

    .menu
      +input-border
      background: white
      width: 100%
      position: absolute
      left: 0
      top: 0

      .years,
      .months
        width: 100%
        float: left

      .years
        margin: 1em 0

        li
          width: 33.333333%
          float: left

      .months li
        border-bottom: 0.1em solid $light-grey
        padding: 0.45em 0
        width: 100%

        &:hover
          color: white
          background-color: $highlight-color

  .range
    .start,
    .end
      width: 8em
      position: relative

      span
        font-weight: normal

    .kalendae
      +widget-border-radius(right)
      border: 0.1em solid $widget-border-color
      position: absolute
      top: 0
      right: 0

    .end
      +widget-border-radius(right)
      border-right-width: $border-width

    .go
      +widget-border-radius(left)
      margin-left: 0.5em !important
      padding-left: 0.5em
      padding-right: 0.5em

  .back,
  .forward,
  .backYear,
  .forwardYear
    font-family: Icons

  .back,
  .backYear
    +icon-caret-left

  .forward,
  .forwardYear
    +icon-caret-right

.report-cell.total
  p
    width: 100%
    float: left
    margin: 0 !important

  .total
    font-size: 4.5em
    font-family: $light-font-family
    margin: 0.3em 0 0 0 !important
    color: $dark-grey
    text-align: center

  .move-up,
  .move-down,
  .move-none
    text-align: center
    margin: 0.4em 0 1.2em 0 !important

  .average,
  .best,
  .since
    border-top: 0.1em dashed $light-grey
    font-size: 1.2em
    text-indent: 1em
    color: $mid-grey - 10
    padding: 0.6em 0

  .since
    margin-top: 1em !important

#top-ten
  th.rank,
  th.movement
    text-indent: -1000em

  td.rank
    font-weight: bold
    text-align: right
    width: 1em

  .movement
    width: 6em !important

  .move-up,
  .move-down,
  .move-new,
  .move-none
    float: left

  .move-new
    text-transform: uppercase
    font-weight: bold
    color: $positive-color

  .amount
    color: $mid-grey
    float: right

#product-listing .ancestors
  color: $dark-grey
  font-weight: bold
