- sub_header('Products')

- filter_nav(:products, 'All')
- filter_nav(:products, 'Published', 'published')
- filter_nav(:products, 'Unpublished', 'unpublished')

- sort_nav(:products, 'Name')
- sort_nav(:products, 'Created', 'created_at')
- sort_nav(:products, 'Updated', 'updated_at')

= content do
  = render :partial => 'table'

= footer do
  = paginate(@products, :theme => 'admin')
