- sub_nav('Latest', path(:shop), :root => true)
- sub_nav('Categories', path(:product_categories))
- sub_nav('Ranges', path(:product_ranges))

- control('Category', path(:new, :product_category), :new)
