- sub_nav('Categories', path(:product_categories), :class => 'folder')
- sub_nav('Ranges', path(:product_ranges), :class => 'folder')
- sub_nav('Products', path(:products), :class => 'basket')
- sub_nav('Manufacturers', path(:manufacturers), :class => 'manufacturers')
- sub_nav('Stock', path(:stock_levels), :class => 'inbox')
