- sub_nav('Categories', path(:product_categories), :class => 'folder')
- sub_nav('Ranges', path(:product_ranges), :class => 'folder')
- sub_nav('Products', path(:products), :class => 'basket')
- sub_nav('Stock', path(:stock_levels), :class => 'inbox')

- control('Category', path(:new, :product_category), :new)
- control('Range', path(:new, :product_range), :new)
- control('Product', path(:new, :product), :new)
