- breadcrumb("Catalogue", :product_categories)
- ancestor_breadcrumbs(@product.category)
- breadcrumb(@product.name, @product)
- breadcrumb(@sku.short_desc)
- breadcrumb("Edit")

= render :partial => 'form'

