%table.fixed-header(cellpadding=0 cellspacing=0 class='sortable')
  %thead
    %tr
      %th.select= check_box_tag('table_select_all', 1, nil, :class => 'toggle')
      %th.boolean Published
      %th Category
      %th Stock Level
      %th.meta Updated At

  %tbody
    = render :partial => 'category', :collection => @product_categories, :locals => {:level => 0, :published => true}
