- sub_header('Categories')

- filter_nav(:product_categories, 'All')
- filter_nav(:product_categories, 'Published', 'published')
- filter_nav(:product_categories, 'Unpublished', 'unpublished')

= render :partial => 'table'
