- if @product.in_stock?
  %ul
    - @product.skus.each do |sku|
      %li
        - if sku.in_stock?
          = form_tag(public_order_basket_add_path) do
            = label(:quantity, sku.id)
            = text_field_tag(:quantity, 1)
            = hidden_field_tag(:sku_id, sku.id)
            %button Add
        - else
          Sold Out
- else
  %p This product is currently sold out
