- sub_nav('Overview', path(:orders), :root => true, :class => 'icon-eye')
- sub_nav('Process', path(:process, :orders), :class => 'icon-basket')
- sub_nav('Archive', path(:archived, :orders), :class => 'icon-folder')
