- sub_nav('Overview', path(:orders), :root => true, :class => 'icon-eye')
- sub_nav('Process', path(:order_processing), :class => 'icon-basket')
- sub_nav('Archive', path(:order_archive), :class => 'icon-folder')
