%h3 Order Overview

%ul
  %li
    %span.value.indicator.neutral= @counts[:billing]
    %span.key to Bill
  %li
    %span.value.indicator.neutral= @counts[:packing]
    %span.key to Pack
  %li
    %span.value.indicator.neutral= @counts[:shipping]
    %span.key to Ship
