= f.fieldset("Place an order", condition_opts(condition)) do
  = f.hidden_field(:type)

  .condition-toggle
    = f.input(:active, :as => :boolean, :first_inline => true)  

  .condition-contents
    %p.summary
      Any order qualifies

    .help
      %div.extra.islay-toggle
        %p
          Any order will qualify for this promotion. This condition is exclusive - if you set this condition, no other conditions can be used.

        %p
          Combine this condition with an application limit to create promotions like "The first XX customers to order will receive..."
