= f.fieldset("Have shipping charges", condition_opts(condition)) do
  = f.hidden_field(:type)

  .condition-toggle
    = f.input(:active, :as => :boolean, :first_inline => true)
  
  .condition-contents
    %p.summary
      Orders must have shipping charges to qualify.
    
    .help
      .extra.islay-toggle
        %p
          Only orders with a paid amount of shipping qualify.

        %p 
          This condition is useful when you want to provide discounted or free shipping - it just ensures there is some shipping charge to be discounted.
