= f.fieldset("Enter a Code", condition_opts(condition)) do
  = f.hidden_field(:type)

  .condition-toggle
    = f.input(:active, :as => :boolean, :first_inline => true)
  
  .condition-contents
    %p.summary
      Customers will be prompted to enter the code on checkout

    = f.input(:code, :class => 'medium', :inline => true)

    .help
      %div.extra.islay-toggle
        %p Setting a code condition stops the promotion being automatically advertised in the shop, so you can choose who sees the code and where.

        %p This type of code can be re-used until the promotion ends or the application limit is reached.

