= f.fieldset("Spend a minimum amount", condition_opts(condition)) do
  = f.hidden_field(:type)
  
  .condition-toggle
    = f.input(:active, :as => :boolean, :first_inline => true)

  .condition-contents
    %p.summary Orders with a total of the amount you choose, or higher

    = f.input(:amount, :class => 'tiny', :inline => true)

    .help
      .extra.islay-toggle
        %p
          This condition can only qualify once - if you set the minimum spend to $20, and a customer spends $40, the effects of the promotion will be applied once, not twice.

