= f.fieldset("Entry into a competition", effect_opts(effect)) do
  = f.hidden_field(:type)

  .effect-toggle
    = f.input(:active, :as => :boolean, :first_inline => true)

  .effect-contents
    %p.summary Placing an order enters you into a competition

    = f.input(:name, :class => 'medium', :inline => true)
    
    .help
      .extra.islay-toggle
        %p
          One entry per order. If a customer places multiple orders they'll
          be entered multiple times.
        %p
          This effect doesn't change the order at all, other than recording the competition entry.
