= f.fieldset("Extra SKUs Free", effect_opts(effect)) do
  = f.hidden_field(:type)

  .effect-toggle
    = f.input(:active, :as => :boolean, :first_inline => true)
    
  .effect-contents
    %p.summary Adds an extra quantity of every qualifying SKU

    = f.input(:quantity, :class => 'tiny', :inline => true)

    .help
      .extra.islay-toggle
        %p
          For every qualifying SKU, the chosen quantity of that SKU will be added to the order for free.

        %p 
          This effect requires a SKU specific condition to be set, to provide the qualifying SKUs.

