= f.fieldset("Extra SKUs Free", effect_opts(effect)) do
  = f.hidden_field(:type)
  = f.input(:active, :as => :boolean, :first_inline => true)
  = f.input(:quantity, :class => 'tiny', :inline => true)
  %div.help
    %p.summary
      For every qualifying SKU adds and extra amount.

    %div.extra.islay-toggle
      %p
        Each time a SKU qualifies for a promotion an extra, free, fixed quantity 
        is added to the order. The number of qualifications depends on the 
        condition e.g. 'Buy at least 2' counts as one qualification, irrespective
        of the actual quantity.

